* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
h2 {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 40px;
}
h3 {
  margin-bottom: 17px;
}
p {
  margin: 0;
}
ol,
ul {
  margin: 0;
}
.download-background,
.benefits,
.backup-content,
.recovery,
.about-content {
  padding: 55px 0 57px 0;
}
html|* > svg {
  transform-origin: 50% 50% 0;
}
svg:not(:root) {
  overflow: hidden;
}
img {
  display: block;
  margin: auto;
}
